@import 'figma';

.page {
  padding: 12px;
}

.row {
  display: flex;
  margin-bottom: 12px;
}

.col {
  &.f {
    flex: 1;
    margin-right: 8px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12px;
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-fix {
  display: flex;
  font-size: var(--font-size-small);
  color: #555;
  font-weight: var(--font-weight-normal);
  font-feature-settings: 'tnum';
  min-height: 36px;
  align-items: center;
}

.divider {
  width: 1px;
  height: 20px;
  background: #eee;
  margin: 0 12px;
}

.actions {
  margin: 0 2px;
  display: flex;
  align-items: center;
  .icon-button {
    margin: 0 2px;
  }
}

.pagination {
  display: flex;
  align-items: center;
}

.footer {
  .actions {
    min-height: 36px;
  }
}
